/* You can add global styles to this file, and also import other style files */
@import "./scss/variables";
@import './scss/dark-variables';
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";
@import "ag-grid-community/styles/ag-grid";
@import "ag-grid-community/styles/ag-theme-alpine";

@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans";
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
}

.overflow-v {
  overflow: visible;
}
